/* START-HEADER */
#breadcrumb .breadcrumb-tree li {
  margin: 10px;
}

#breadcrumb {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 15px;
  background-color: #E4E7ED;
}
/* END-HEADER */

/* START MAIN */

.product-imgg img {
  display: block;
  object-fit: cover;
  width: 100%;
  border: 1px solid rgb(219, 206, 206);
}
.product-imgg{
  max-width: 150px;
}
.product-image-item img {
padding: 4px;

}
.product-main-img {
  width: 500px;
  height: auto;
}

.product-main-img img {
  object-fit: cover;
  width: 90%;
  padding-right: 20px;
}

.product-details .product-name {
  text-transform: uppercase;
  font-size: 25px;
}

.product-details .product-price {
  font-size: 24px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #d10024;
}

.product-details .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
  margin: 8px;
}

.product-details .product-available {
  font-size: 12px;
  color: #d10024;
  margin-left: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-details p {
  margin: 0 0 10px;
  color:  #818997;
  font-weight: 300;
  font-size: 14px;
  margin-top: 15px;
}

.product-details i {
  margin: 2px;
  font-size: 11px;
  color: #d10024;
}

.product-details a {
  color: #000000;
  margin-right:5px ;
}
.product-details button {
  margin-left: 20px;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 700;
}


.product-details button:hover {
  background-color: #fff;
  color: #c80325;
}
.product-details .product-rating {
  margin-bottom: 3px;
}

.product-details .product-options {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-details .product-options .input-select {
  width: 80px;
  height: 40px;
  margin-left: 20px;
  border-radius: 8px;
}
.product-options label{
  margin-bottom: 10px;
  font-weight: 600;
  margin-left: 10px;
}
.review-link {
  margin-left: 13px;
  font-size: 12px;
}

label {
  max-width: 100%;
  display: inline-block;
}

label[id='1'] {
  margin-left: 20px;
}

.input-number .qty-up,
.input-number .qty-down {
  width: 20px;
  border: none;
  background-color: white;
  height: 35px;
}

.input-number input {
  width: 90px;
  height: 35px;
  text-align: center;
  margin-left: 13px;
  border-radius: 8px;
  outline: none;
}

.add-to-cart .btn-add {
  margin-left: 22px;
  width: 170px;
  border-radius: 50px;
}
.add-to-cart label {
  font-weight: 600;
}
.product-details .product-btns {
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-details .product-btns a span {
  font-size: 12px;
  font-weight: 300;
}

.product-details .product-btns i {
  font-size: 13px;
}

.product-details .product-btns li[id='1'] {
  margin-left: 40px;
}

.product-details .product-links {
  margin-top: 15px;
  font-size: 12px;
}

.product-details .product-links li[id='1'] {
  margin-left: 20px;
}

.product-details .product-links li[id='2'] {
  margin-left: 20px;
}
/* END MAIN */

#product-tab {
  margin-top: 10px;
}
#product-tab .tab-nav {
    position: relative;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 30px;
}
#product-tab .tab-nav:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background-color: #E4E7ED;
  z-index: -1;
}
#product-tab .tab-nav li {
    display: inline-block;
    background: #FFF;
    padding: 0px 15px;
}
.tab-nav span {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}
.tab-content p{
  font-size: 13px;
}
.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.spinner1 {
  border: 8px solid #15161d; 
  border-top: 8px solid #d10024; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.rating-content {
  margin-top: 10px;
  margin-left: 10px;
}
.rating-content i {
 color: #d10024;
 margin: 0 2px;
}
.rating-content .rating-progress{
  position: relative;
  display: inline-block;
  height: 9px;
  background-color: #E4E7ED;
  width: 120px;
  margin: 0px 10px;
  border-radius: 5px;
}
.rating-content .icon {
  width: 80%;
}

.rating-content .sum-1{
  display: inline-block;
    font-size: 12px;
    color: #8D99AE;
}
.rating-content li{
  display: flex;
  align-items: center;
}
.review-1 .reviews-1 li{
  display: flex;
  align-items: center;
} 
.name{
  font-size: 15px;
font-weight: 600;
}
.date{
  font-size: 10px!important;
  display: block;
}
.review-heading{
  margin: 15px;
  width: 35%;
}
.review-body p{
  font-size: 12px;
  margin-bottom: 45px;
}
.review-rating{
  font-size: 11px;
  color: #D10024;
}

.rating-avg {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.rating-star{
  margin-left: 10px;
}
.review-form .input-rating input{
  display: none;
}


.review-form .input-rating label i{
  color: #D10024;
  margin: 0 2px;
}
.review-form button{
  margin-top: 10px;
}