.input-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-checkbox input[type="checkbox"] {
    margin-right: 10px;
    
}

.input-checkbox label {
font-size: 18px;
font-weight: 600;
    display: flex;
    align-items: center;
}

.input-checkbox label span {
    margin-right: 5px;
}

.input-checkbox label small {
    margin-left: 5px;
    color: #999;
   
}

.shop-product-aside .aside {

    margin-bottom: 20px;
}

.wrapper {
    padding: 20px 25px 40px;
}

.product-card {
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
   
}
.product-card:hover{
    border:1px solid #d10024;
}
.product-img img {

    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-info .product-category {
    font-size: 12px;
    color: #8D99AE;
}

.product-name {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #d10024;
    font-weight: bold;
}

.product-card .product-info .product-old-price {
    font-size: 70%;
    color: #8D99AE;
    font-weight: 400;
    margin-left: 6px;
}

.product-card .product-rating i {
    padding: 0px 2px;
}

.product-card .product-rating {
    margin-top: -10px;
    margin-bottom: 10px;
    color: #D10024;
}

.product-card .product-btns button {
    padding: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #fff;
}

.product-addtc a{
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 700;
}

.product-addtc a:hover {
    background-color: #fff;
    color: #c80325;
}
.product-addtc button{
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 700;
}

.product-addtc button:hover {
    background-color: #fff;
    color: #c80325;
}
.product-card {
    width: 280px;
} 

.aside {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.aside h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.price-range-buttons {
  display: flex;
  flex-direction: column;
}

.buttons-btn {
  margin-bottom: 10px;
}

.buttons-btn button {
  border: 1px solid #a7a4a4;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: left;
}

.buttons-btn button:hover {
  background-color: #c80325;
  color:#fff;
}

/* .buttons-btn button:focus {
    background-color:#c80325;
    color:#fff;
  font-weight: bold;
} */

.buttons-btn button.active {
    background-color: #c80325;
    color: #fff;
    font-weight: bold;
  }